.sidebar {
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  &__item {
    font-size: 13px;

    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    padding: 4px 8px;

    &:hover {
      background-color: rgba(186, 194, 212, 0.3);
    }

    a {
      color: #222;
      border-radius: 4px;
    }
  }
}