.profile {
  width: 100%;
}

.profile-header {
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;

  border: 1px solid #d3d9de;
  box-shadow: 0px 0px 14px 1px rgba(153, 160, 165, 0.2);

  &__name {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
  }

  &__status {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
  }

  &__button {
    a {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;

      padding: 6px 10px;
      border-radius: 4px;
      color: #346297;
      background-color: #e5ebf1;
      transition: 0.2s;

      &:hover {
        background-color: #dadadb;
      }
    }
  }

  &__information {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-status {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 12px;

      display: flex;
      gap: 8px;
      border-radius: 8px;
      padding: 2px 6px 2px 2px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #e5ebf1;
      }
    }

    &-location,
    &-education,
    &-more {
      font-size: 14px;

      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

}