.profile {
  width: 100%;
}

.profile-header {
  background: radial-gradient(circle, rgba(219, 152, 152, 1) 0%, rgba(148, 233, 178, 1) 100%);
  position: relative;
  border-radius: 10px;

  box-shadow: 0px 0px 14px 1px rgba(153, 160, 165, 0.2);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
  }

  &__background {
    min-height: 200px;
  }

  &__name {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
  }

  &__status {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
  }

  &__image {
    height: 170px;
    width: 170px;
    border-radius: 100%;
    border: 4px solid #fff;

    position: absolute;
    top: 40%;
    left: 2%;
  }

  &__button {
    a {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;

      padding: 6px 10px;
      border-radius: 4px;
      color: #346297;
      background-color: #e5ebf1;
      transition: 0.2s;

      &:hover {
        background-color: #dadadb;
      }
    }
  }

  &__information {
    display: flex;
    align-items: center;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: 180px;
    }

    &-status {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 12px;

      display: flex;
      gap: 8px;
      border-radius: 8px;
      padding: 2px 6px 2px 2px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #e5ebf1;
      }
    }

    &-location,
    &-education,
    &-more {
      font-size: 14px;

      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

}