.profile-main__photos {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 12px;
    justify-content: center;
  }

  &-item {
    width: 126px;
    height: 126px;
  }

  &-buttons {
    display: flex;
    justify-content: space-around;
  }

  &-button {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;

    padding: 4px 86px;
    border-radius: 4px;
    color: #346297;
    background-color: #e5ebf1;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #dadadb;
    }
  }
}