.profile-post__form {
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 640px;

  border: 1px solid #d3d9de;
  box-shadow: 0px 0px 14px 1px rgba(153, 160, 165, 0.2);

  &-inner {
    display: flex;
    align-items: flex-start;
  }

  &-image {
    border-radius: 100%;
  }

  &-input {
    width: 100%;
    border-bottom: 1px solid #dce1e6;
    min-height: 80px;
    resize: none;
    overflow: hidden;
    padding: 7px 16px 16px 12px;

    font-size: 16px;
    font-family: "Poppins";
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px 4px;

    &-button {
      font-family: "Poppins";
      background-color: #447bba;
      color: #fff;
      padding: 6px 16px;
      border-radius: 8px;
      cursor: pointer;
    }

    &-text {
      font-size: 12px;
    }
  }
}